:root {
--DefaultBackground: #282828;
--DefaultForeground: #fbf1c7;
--DefaultPlainText: #ebdbb2;
--NamespaceTag: #9e5d7a;
--NamespaceAliasTag: #9e5d7a;
--ClassTag: #0099ff;
--StructureTag: #0099ff;
--UnionTag: #0099ff;
--EnumTag: #0099ff;
--EnumValueTag: #ffd659;
--FieldTag: #42cdff;
--LocalVariableTag: #0099ff;
--FunctionParameterTag: #0099ff;
--MethodTag: #ffd659;
--FunctionTag: #ffd659;
--TemplateTypeParameterTag: #4c8a5f;
--TemplateNonTypeParameterTag: #4c8a5f;
--TemplateTemplateParameterTag: #4c8a5f;
--MacroDefinitionTag: #fa9a4b;
--MacroInstantiationTag: #fa9a4b;
--TypedefTag: #0099ff;
--UsingDirectiveTag: #f6f080;
--UsingDeclarationTag: #f6f080;
--Structure: #ba763a;
--StorageClass: #0099ff;
--Macro: #ba763a;
--Function: #72aaca;
--Normal: #e0e0e0;
--NonText: #2d3033;
--Comment: #60666b;
--Constant: #ffd659;
--Character: #ffd659;
--Identifier: #f6f080;
--PreProc: #fa9a4b;
--Include: #ba763a;
--Define: #fa9a4b;
--PreCondit: #fa9a4b;
--Special: #f8f8f8;
--SpecialChar: #f8f8f8;
--Tag: #72aaca;
--Delimiter: #f8f8f8;
--SpecialComment: #f8f8f8;
--Debug: #f8f8f8;
--Statement: #ba763a;
--Conditional: #ba763a;
--Repeat: #ba763a;
--Label: #f6f6f6;
--Type: #0099ff;
--Operator: #fa9a4b;
--Exception: #0099ff;
--Keyword: #fa9a4b;
--String: #9298a1;
--Number: #ffd659;
--Float: #ffd659;
--Boolean: #ffd659;
--Todo: #798188;
--StatusLine: #f8f8f8;
--StatusLineNC: #b8b8b8;
--VertSplit: #2d3033;
--TabLine: #797a7b;
--TabLineFill: #e2e4e5;
--TabLineSel: #c9cacb;
--Title: #f8f8f8;
--LineNr: #515253;
--PMenu: #949ba1;
--PMenuSbar: #cdcecf;
--PMenuSel: #ffffff;
--PMenuThumb: #82898f;
--FoldColumn: #798188;
--Folded: #798188;
--WildMenu: #1c1c1c;
--SpecialKey: #7a8288;
--DiffAdd: #f8f8f8;
--DiffDelete: #8F433D;
--Search: #16191c;
--IncSearch: #16191c;
--Directory: #898d8a;
--MatchParen: #26292c;
--ColorColumn: #c5beba;
--SignColumn: #a8c1c5;
--ErrorMsg: #f8f8f8;
--ModeMsg: #a0a0a0;
--MoreMsg: #a8c1c5;
--Question: #a0a0a0;
--WarningMsg: #f8f8f8;
}

body {
    background-color: #001a33;
    color: lightgrey;
}

.addressContainer {
    width: 100%;
    display: table;
    z-index: 100;
}

.addressLine {
    display: table-row;
}

.addressInputContainer {
    width: 80%;
    display: table-cell;
}

.addressInput {
    width: 90%;
    border: none;
    color: lightcyan;
    background-color: #001a22;
}

.addressButtons {
    display: table-cell;
    background-color: #001a33;
}

.addressButtons button {
    color: floralwhite;
    background-color: #001a33;
}

.entirePage {
    width: 100%;
    display: table;
    z-index: 100;
}

.entirePageDiv {
    display: table-row;
}

.currentContentList {
    width: 15%;
    display: table-cell;
}

.currentContentList ul {
    list-style-type: none;
}

.currentListSelection {
    color: yellow;
    background-color: #001a11;
}

.currentContentDiv {
    display: table-cell;
}

.currentContent p strong {
    color: azure;
}

.editBox {
    z-index: 1000;
    position: fixed;
    top: 40px;
    left: 40px;
    bottom: 40px;
    right: 40px;
    background-color: #001a33;
    color: lightgrey;
}

.editButton {
    float: left;
    display: none;
    background-color: #001a33;
    color: lightcyan;
}

.editTextArea {
    background-color: #371f06;
    color: lightyellow;
}

/* Languages hightlightimg */
pre {
    background-color: var(--DefaultBackground);
    color: var(--DefaultForeground);
}

.language-cpp {
    color: var(--Normal);
}

.language-cpp .cppreserved {
    color: var(--Keyword);
    font-weight: bold;
}

.language-cpp .stlnamespaces {
    color: var(--NamespaceTag);
    font-weight: bold;
}

.language-cpp .stlconstant {
    color: var(--Constant);
    font-weight: bold;
}

.language-cpp .stlexception {
    color: var(--Exception);
    font-weight: bold;
}

.language-cpp .stlfunction {
    color: var(--FunctionTag);
    font-weight: bold;
}

.language-cpp .stlfuntional {
    color: var(--FunctionTag);
    font-weight: bold;
}

.language-cpp .stltype {
    color: var(--Type);
    font-weight: bold;
}

.language-cpp .stlios {
    color: var(--TypedefTag);
    font-weight: bold;
}

.language-cpp  .stliterator {
    color: var(--Identifier);
    font-weight: bold;
}

.language-bash {
    color: var(--DefaultPlainText); 
}

